<h1>Registration</h1>
<h3>Enter your details below to create a new account.</h3>

<%= form_for :user, url: '/users/register' do |f| %>
  <table>
    <tr>
      <th>
        Name: <%= f.text_field :user_name %>
      </th>
      <th>
        Email: <%= f.text_field :email %>
      </th>
      <th>
        Postcode: <%= f.text_field :postcode %>
      </th>
    </tr>
  </table>
  <table>
    <tr>
      <th>
        Password: <%= f.password_field :password %>
      </th>
      <th>
        Password Confirmation: <%= f.password_field :password_confirmation %>
      </th>
    </tr>
  </table>
  <%= f.submit "Submit" %>
<% end %>